{% load static %}
{% load sass_tags %}

<div class="col-sm-12">
    <div class="header-faq">
      <h4 class="mb-0">Browse articles by category</h4>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header card-no-border pb-0">
            <h4>Browse Articles</h4>
          </div>
          <div class="card-body">
            <div class="row browse g-sm-4 g-3">
              <div class="col-xl-4 xl-50 col-md-6">
                <div class="browse-articles">
                  <h5><span><i data-feather="archive"></i></span>Quick Questions are answered</h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Policies have wide acceptance editors.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Guidelines are sets of best practices supported.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Editors should attempt to follow guidelines. </span><span class="badge badge-primary pull-right">New</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>They are best treated with common sense. </span></a></li>
                    <li><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (40)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 xl-50 col-md-6">
                <div class="browse-articles">
                  <h5><span><i data-feather="archive"></i></span> API allows search and download AP Images.</h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>API retrieve breaking news categories.</span><span class="badge badge-primary pull-right">Review</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>API retrieves rules for fantasy league.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Resource API retrieves content produced business.</span><span class="badge badge-primary pull-right">Articles</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Making this the first true generator on the Internet.</span></a></li>
                    <li><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (90)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 xl-50 col-md-6">
                <div class="browse-articles">
                  <h5><span><i data-feather="archive"></i></span>WordPress Site Maintenance</h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Make a backup of your WordPress website.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Run a Wordpress security Website check.</span><span class="badge badge-primary pull-right">Closed</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Monitor your search engine optimization.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Set a regular maintenance schedule.</span></a></li>
                    <li><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (50)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 xl-50 col-md-6">
                <div class="browse-articles browse-bottom">
                  <h5><span><i data-feather="archive"></i> Meta Tags in WordPress</span></h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>When an unknown printer took a galley</span><span class="badge badge-primary pull-right">Popular</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>You can easily change plans at any time.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>you’ll be charged a prorated cover that upgrade.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>But also the leap into electronic typesetting,</span></a><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (90)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 xl-50 col-md-6">
                <div class="browse-articles browse-bottom">
                  <h5><span><i data-feather="archive"></i></span>WordPress in Your Language</h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Premium plans are billed as a single yearly payment.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Monthly plan are bill every month of signup.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>You can set Monthly or Yearly for Premium plan.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>unknown printer took galley.</span><span class="badge badge-primary pull-right">Closed</span></a></li>
                    <li><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (50)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 xl-50 col-md-6">
                <div class="browse-articles browse-bottom">
                  <h5><span><i data-feather="archive"></i></span>Know Your Sources</h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Many new editors rely on policy interpretations.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Editor continually attempts to find a different policy.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Violation of maintaining a neutral point of view.</span><span class="badge badge-primary pull-right">Article</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>You double check your sources.</span></a></li>
                    <li><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (26)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 xl-50 col-md-6">
                <div class="browse-articles browse-bottom">
                  <h5><span><i data-feather="archive"></i></span>Validating a Website</h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>You can modify some specific component settings.</span><span class="badge badge-primary pull-right">Review</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Click Apply to validate the set preferences. </span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Following procedure apply the components</span><span class="badge badge-primary pull-right">Closed</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span> To modify those specific components settings.</span></a></li>
                    <li><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (10)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 xl-50 col-md-6">
                <div class="browse-articles browse-bottom">
                  <h5><span><i data-feather="archive"></i></span>Quick Questions are answered</h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>To get started with your account.  </span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Compile your theme using gulp</span><span class="badge badge-primary pull-right">Popular</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Users can browse by topic or use the visually.</span><span class="badge badge-primary pull-right">Review</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>This works through various methods of site tracking</span></a></li>
                    <li><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (21)</span></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 xl-100">
                <div class="browse-articles browse-bottom">
                  <h5><span><i data-feather="archive"></i></span>Integrating WordPress with Your Website</h5>
                  <ul>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Language regular existing languages.</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>The first line of Lorem Ipsum,  Lorem ipsum </span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>Thus comes from a line in section</span></a></li>
                    <li><a href="#"><span><i data-feather="file-text"></i></span><span>First true generator on the Internet</span><span class="badge badge-primary pull-right">On hold</span></a></li>
                    <li><a href="#"><span><i data-feather="arrow-right"></i></span><span>See More (34)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="header-faq">
      <h4 class="mb-0">Featured Tutorials</h4>
    </div>
    <div class="row">
      <div class="col-xl-3 xl-50 col-md-6 box-col-6">
        <div class="card features-faq product-box">
          <div class="faq-image product-img"><img class="img-fluid" src="{% static 'assets/images/faq/1.jpg' %}" alt="">
            <div class="product-hover">
              <ul>
                <li><i class="icon-link"></i></li>
                <li><i class="icon-import"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h5 class="f-w-600"> Web Design</h5>
            <p>A Web Designing course belongs to the field of Computer Science and IT. It enables students to learn</p>
          </div>
          <div class="card-footer"><span>Dec 15, 2024</span><span class="pull-right"><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i></span></div>
        </div>
      </div>
      <div class="col-xl-3 xl-50 col-md-6 box-col-6">
        <div class="card features-faq product-box">
          <div class="faq-image product-img"><img class="img-fluid" src="{% static 'assets/images/faq/2.jpg' %}" alt="">
            <div class="product-hover">
              <ul>
                <li><i class="icon-link"></i></li>
                <li><i class="icon-import"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h5 class="f-w-600">Web Development</h5>
            <p>This course is designed to start you on a path toward future studies in web development and design.</p>
          </div>
          <div class="card-footer"><span>Dec 15, 2024</span><span class="pull-right"><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star-o font-primary"></i></span></div>
        </div>
      </div>
      <div class="col-xl-3 xl-50 col-md-6 box-col-6">
        <div class="card features-faq product-box">
          <div class="faq-image product-img"><img class="img-fluid" src="{% static 'assets/images/faq/3.jpg' %}" alt="">
            <div class="product-hover">
              <ul>
                <li><i class="icon-link"></i></li>
                <li><i class="icon-import"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h5 class="f-w-600">UI Design</h5>
            <p>User interface design (UI) is the design for machines and software, such as mobile devices, computers.</p>
          </div>
          <div class="card-footer"><span>Dec 15, 2024</span><span class="pull-right"><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i></span></div>
        </div>
      </div>
      <div class="col-xl-3 xl-50 col-md-6 box-col-6">
        <div class="card features-faq product-box">
          <div class="faq-image product-img"><img class="img-fluid" src="{% static 'assets/images/faq/4.jpg' %}" alt="">
            <div class="product-hover">
              <ul>
                <li><i class="icon-link"></i></li>
                <li><i class="icon-import"></i></li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <h5 class="f-w-600">UX Design</h5>
            <p>A Web Designing course belongs to the field of Computer Science and IT. It enables students to learn</p>
          </div>
          <div class="card-footer"><span>Dec 15, 2024</span><span class="pull-right"><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star font-primary"></i><i class="fa fa-star-half-o font-primary"></i></span></div>
        </div>
      </div>
    </div>
  </div>