{% load static %}
{% load sass_tags %}
<div id="tipsContainer">
  <div class="col-md-12 project-list">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Helpful Tips</h5>
            <p class="card-text">
              - Certify all documents before submission. <br>
              - Missing documents can delay the process. <br>
            </p>
          </div>
        </div>
      </div>
    
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Permit Requirements</h5>
            
            <div class="row">
              <div class="col-sm-6">
                <h6>Attachments</h6>
                <ul>
                  <li>Certified passport copy</li>
                  <li>Two passport-sized photos</li>
                  <li>A copy of employment contract</li>
                  <li>Cover letter</li>
                  <li>A manual certificate</li>
                  <li>Certified academic documents</li>
                  <li>Medical report</li>
                  <li>Birth certificate</li>
                  <li>Company registration certificate</li>
                  <li>Advert copy for applications beyond 30 days</li>
                  <li>Offer letter</li>
                  <li>CV</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li>Missing birth certificate explanation</li>
                  <li>References or testimonials</li>
                  <li>An application letter</li>
                  <li>Proof of payment for long term permit</li>
                </ul>
    
                <br>
                <h6>If Applicable</h6>
                <ul>
                  <li>Marriage certificate</li>
                  <li>Divorce papers</li>
                  <li>Keeper ID or bates rollout</li>
                  <li>Employer omang number</li>
                  <li>Vehicle list and transport permit number</li>
                  <li>Public tansport P A Permit</li>
                  <li>B A Permits for trucks</li>
                  <li>Motor Vehicle Registration, Book for both Vehicles and Trailers</li>
                  <li>Botswana Driver Licence copy</li>
                  <li>Permission from relevant professional regulatory bodies</li>
                  <li>Clearance from relevant professional regulatory bodies</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>