{% load static %}
{% load sass_tags %}
<div id="tipsContainer">
  <div class="col-md-12 project-list">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Helpful Tips</h5>
            <p class="card-text">
              - Certify all documents before submission. <br>
              - Missing documents can delay the process. <br>
              - For self-employed permits, include proof of investment and incorporation certificates. 
            </p>
          </div>
        </div>
      </div>
    
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Permit Requirements</h5>
            <p>The permit allows non-citizens to legally work in the country under a single authorization.</p>
            
            <div class="row">
              <div class="col-sm-6">
                <h6>Attachments</h6>
                <ul>
                  <li>Certified passport copy</li>
                  <li>Two passport-sized photos</li>
                  <li>Offer letter if changing employment</li>
                  <li>Cover letter from the employer</li>
                  <li>A manual certificate</li>
                  <li>Certified academic documents</li>
                  <li>Medical report</li>
                  <li>Birth certificate</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li>Missing birth certificate explanation</li>
                  <li>References or testimonials</li>
                  <li>A copy of employment contract</li>
                  <li>A copy of applicant cv</li>
                  <li>A copy of advert</li>
                  <li>An application letter</li>
                  <li>Copies of passport pages showing recent entry stamps (fresh applications)</li>
                </ul>
    
                <br>
                <h6>If Applicable</h6>
                <ul>
                  <li>Marriage certificate</li>
                  <li>Divorce papers</li>
                  <li>Covering letter from the supporter/principal applicant for each dependants</li>
                  <li>Certified copy of valid passport for each dependants</li>
                  <li>Passport photo for each dependants</li>
                  <li>Certified on reverse passport photo for each dependants</li>
                  <li>School admission letters for children</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>