{% load static %}
{% load sass_tags %}
<div id="tipsContainer">
  <div class="col-md-12 project-list">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Helpful Tips</h5>
            <p class="card-text">
              - Certify all documents before submission. <br>
              - Missing documents can delay the process. <br>
            </p>
          </div>
        </div>
      </div>
    
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Permit Requirements</h5>            
            <div class="row">
              <div class="col-sm-6">
                <h6>Attachments</h6>
                <ul>
                  <li>Certified passport copy</li>
                  <li>Two passport-sized photos</li>
                  <li>A manual certificate</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <h6>If Applicable</h6>
                <ul>
                  <li>Letter of support from mission/spouse/supporter</li>
                  <li>Proof of means of support</li>
                  <li>Proof of mission registration with Registrar of Societies</li>
                  <li>Bank statement</li>
                  <li>Confirmation of employment by the employer/reference letter</li>
                  <li>Valid and certified copies of title deed/lease agreement</li>
                  <li>Tax Return (BURS) through the employer</li>
                  <li>Valuation of shares</li>
                  <li>Share certificate</li>
                  <li>Certificate of Incorporation</li>
                  <li>List of directors</li>
                  <li>Annual returns</li>
                  <li>Financial statement</li>
                  <li>Trading license</li>
                  <li>Tax clearance</li>
                  <li>Company profile</li>
                  <li>List of assets and valuation</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>