{% load static %}
{% load sass_tags %}

<div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
    <div class="row">
      <div class="col-xxl-8 col-lg-8 col-md-6">
        <div class="card">
		  <h5 class="card-header bg-primary">Complete Application Forms Below</h5>
		  <div class="card-body">
		      <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Form Name</th>
                          <th>Buttons</th>
                          <th>Created On</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Personal Details</td>
                          <td>
                          	<a class="btn btn-warning" href="#" role="button">add</a>
                          	<a class="btn btn-success" href="#" role="button">edit</a>
						  </td>
                          <td>12 May 2017</td>
                          <td><label class="badge badge-danger">Pending</label></td>
                        </tr>
                        <tr>
                          <td>Marlo Sanki</td>
                          <td>
                          	<a class="btn btn-warning" href="#" role="button">add</a>
                          	<a class="btn btn-success" href="#" role="button">edit</a>
						  </td>
                          <td>15 May 2015</td>
                          <td><label class="badge badge-warning">In progress</label></td>
                        </tr>
                        <tr>
                          <td>John ryte</td>
                          <td>
                          	<a class="btn btn-warning" href="#" role="button">add</a>
                          	<a class="btn btn-success" href="#" role="button">edit</a>
						  </td>
                          <td>14 May 2017</td>
                          <td><label class="badge badge-info">Fixed</label></td>
                        </tr>
                        <tr>
                          <td>Peter mark</td>
                          <td>
                          	<a class="btn btn-warning" href="#" role="button">add</a>
                          	<a class="btn btn-success" href="#" role="button">edit</a>
						  </td>
                          <td>16 May 2017</td>
                          <td><label class="badge badge-success">Completed</label></td>
                        </tr>
                        <tr>
                          <td>Dave</td>
                          <td>
                          	<a class="btn btn-warning" href="#" role="button">add</a>
                          	<a class="btn btn-success" href="#" role="button">edit</a>
						  </td>
                          <td>20 May 2017</td>
                          <td><label class="badge badge-warning">In progress</label></td>
                        </tr>
                      </tbody>
                    </table> 
		  
		    
		  </div>
		</div>
      </div>
    </div>
    
    <div class="col-xxl-4 col-lg-4 col-md-6">
        <div class="card">
		  <h5 class="card-header bg-primary">Application Extra Details</h5>
		  <div class="card-body">
		      Application Extra details
		  </div>
		</div>
      </div>
    </div>
    
</div>