{% load static %}
{% load sass_tags %}
<div id="tipsContainer">
  <div class="col-md-12 project-list">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Helpful Tips</h5>
            <p class="card-text">
              - Certify all documents before submission. <br>
              - Missing documents can delay the process. <br>
              - For self-employed permits, include proof of investment and incorporation certificates. 
            </p>
          </div>
        </div>
      </div>
    
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Permit Requirements</h5>
            <p>The permit allows non-citizens to legally work in the country under a single authorization.</p>
            
            <div class="row">
              <div class="col-sm-6">
                <h6>Attachments</h6>
                <ul>
                  <li>Certified passport copy</li>
                  <li>Two passport-sized photos</li>
                  <li>Confirmation Letter</li>
                  <li>Offer letter</li>
                  <li>A copy of advert for all applications beyond 30 days</li>
                  <li>Proof of payment for long-term permit</li>
                  <li>Employment contract</li>
                  <li>Certified academic documents</li>
                  <li>Applicant's CV</li>
                  <li>Letter from the doctor</li>
                  <li>Letter from employer</li>
                  <li>Covering letter from employer</li>
                  <li>Application letter</li>
                  <li>Birth certificate</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li>Missing birth certificate explanation</li>
                  <li>References or testimonials</li>
                  <li>Explicit advert copy</li>
                  <li>Clearance from relevant professional regulatory bodies</li>
                  <li>Supporting letter from relevant Ministries for Government projects</li>
                  <li>Employer's effort to recruit citizens</li>
                  <li>Original residence permit</li>
                </ul>
    
                <h6>If Applicable</h6>
                <ul>
                  <li>Marriage certificate</li>
                  <li>Divorce papers</li>
                </ul>
              </div>
            </div>
    
            <h6>If Self-Employed or Investor</h6>
            <ul>
              <li>Share certificate</li>
              <li>Proof of investments</li>
              <li>Incorporation certificate</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    