 {% load static %}
 {% load sass_tags %}

<!-- footer start-->
<footer class="footer {{footer}}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 footer-copyright d-flex flex-wrap align-items-center justify-content-between">
        <p class="mb-0 f-w-600">Copyright 2024 © africort investments</p>
        <p class="mb-0 f-w-600">Hand crafted & made with
          <svg class="footer-icon">
            <use href="{% static 'assets/svg/icon-sprite.svg'%}#footer-heart"> </use>
          </svg>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- footer end-->  