{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/simple-mde.css' %}">
{% endblock css %}

{% block content %}

{% include 'general/dashboard/default/components/loader.html' %}

    
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->

 
        <div class="page-body">
          {% include "miscellaneous/editors/simple-mde/components/simple-mde.html" %}
        </div>

{% endblock %}        

{% block scriptcontent %}
    
    <script src="{% static 'assets/js/editor/simple-mde/simplemde.min.js' %}"></script>
    <script src="{% static 'assets/js/editor/simple-mde/simplemde.custom.js' %}"></script>
    <script src="{% static 'assets/js/tooltip-init.js' %}"></script>
    
{% endblock %}   